<!doctype html>
<html lang="tr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>quizkutusu.com</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
{% include 'base/navbar.html' %}

    
{% block body %}
<ul id="totalCount"class="py-4 container text-center"></ul>

{% comment %} <ul id="myUL" class="py-1  text-center"></ul> {% endcomment %}



{% if user_post %}


{% else %}




{% endif %}



{% endblock body %}
<!-- Section: Design Block -->

{% comment %} {% include 'base/albums.html' %} {% endcomment %}




   
  </body>
</html>