<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parola Sıfırlama Onayı</title>
</head>
<body>
    <h2>Parola Sıfırlama Onayı</h2>
    {% if valid %}
        <p>Parola sıfırlama bağlantısı doğrulandı.</p>
        <!-- Parola sıfırlama formu veya başka bir işlem buraya eklenebilir -->
    {% else %}
        <p>Geçersiz parola sıfırlama bağlantısı!</p>
    {% endif %}
</body>
</html>
