<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parola Sıfırlama İsteği</title>
</head>
<body>
    <p style="font-size: 16px; color: #333;">Merhaba {{ user.username }},</p>
    <p style="font-size: 14px; color: #666;">Parolanızı sıfırlamak için aşağıdaki bağlantıyı kullanabilirsiniz:</p>
    <p style="font-size: 14px;"><a href="{{ protocol }}://{{ domain }}{% url 'user:password_reset_confirm' uidb64=uid token=token %}" style="color: #007bff; text-decoration: none;">Parola Sıfırlama Bağlantısı</a></p>
    <p style="font-size: 14px; color: #666;">Bağlantıyı tıkladığınızda parolanızı sıfırlayabilirsiniz. Bağlantı {{ valid_hours }} saat boyunca geçerlidir.</p>
    <p style="font-size: 14px; color: #666;">Eğer bu işlemi siz yapmadıysanız, bu e-postayı görmezden gelin.</p>
    <p style="font-size: 14px; color: #666;">Saygılarımla,</p>
    <p style="font-size: 14px; color: #666;">Siteniz Ekibi</p>
</body>
</html>
